li.list__item {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  align-items: center;
}
.list__text {
  display: flex;
  padding-top: 18px;
  border-bottom: 2px solid rgba(37, 42, 49, 0.3);
}
